[submodule "Submodules/powerlevel10k"]
	path = Submodules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "Submodules/zsh-syntax-highlighting"]
	path = Submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
